scikit-image>=0.16.2
Cython>=0.29.13
wheel
scikit-learn
dask[array]>=0.15.0
cloudpickle>=0.2.1
pandas>=0.23.0
seaborn>=0.7.1
sphinx-gallery
numpy>=1.15.1
scipy>=1.0.1
matplotlib>=2.0.0,!=3.0.0
networkx>=2.0
pillow>=4.3.0,!=7.1.0,!=7.1.1
imageio>=2.3.0
tifffile>=2019.7.26
PyWavelets>=1.1.1
pooch>=0.5.2
